{% extends "layout.html" %}

{% block title %}
<title>Método de los cuadrados medios</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/secciones.css')}}">
<div class="container">
    <strong id="titlePage">Método de los cuadrados medios</strong>
    <div class="card">
        <form method="POST" action="{{url_for('cuadradosmedios')}}" id="formS">
            <div class="col-sm-12">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Número iteraciones</label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"
                            required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Semilla</label>
                        <input name="semilla" type="number" class="form-control" id="validationDefault02" required>
                    </div>
                </div>
                <button class="btn btn-success" id="btnS" type="submit">Calcular</button>
            </div>
        </form>
    </div>
</div>
{% if data %}
<div class="container">
    <strong id="titlePage">Resultados de la grafica</strong>
    <div class="card">
        <center><img src="data:image/png;base64,{{ image }}"></center>
    </div>
</div>

<div class="container">
    <strong id="titlePage">Resultados de la tabla</strong>
</div>

<div class="container">
    {{data|safe}}
</div>

<div class="container">
    {{data2|safe}}
</div>
{% endif %}

{% endblock %}